[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
streamlit = "*"
graphviz = "*"
pycm = "*"
plotly = "*"

#needed in conda, not otherwise available, not needed on online streamlit
#python-graphviz = "*"


[dev-packages]
pytest = "*"

